.App {
  text-align: left;
  margin: 50px auto;
  padding: 0 30px;
}

body {
  background: url(./todo.svg) no-repeat right top;
  background-color: #c5c5f5;
  background-size: contain;
  background-position: center bottom;
}

#root {
  max-width: 650px;
}

input[type="text"] {
  border-radius: 4px;
  outline: 0;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.30);
  border: 0;
  padding: 10px;
  font-size: 16px;
}

button {
  border: 0;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #332e87;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.todo-list {
  margin: 20px 0;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

.view-mode, .edit-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.view-mode input {
  display: block;
  width: auto;
  background: #f7f7f7;
  width: 40%;
}

.edit-mode input {
  display: none;
}

.view-mode .todo-name {
  display: none;
}

.edit-mode .todo-name {
  display: block;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  body {
    background-size: auto;
    background-position: top right;
  }

  .App {
    padding: 0 100px;
  }

  input[type="text"] {
    width: 70%;
  }

  .view-mode input {
    width: auto;
  }
}